@font-face {
  font-family: "Share Tech Mono";
  src: url('../fonts/ShareTechMono-Regular.ttf');
}

html {
  font-family: "Share Tech Mono", sans-serif;
  font-size: 14px;
  margin: 0;
  padding: 0;
}

body {
  background-color: #fff;
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
}

#display-clock {
  text-align: center;
  font-size: 16rem;
}

#control-panel {
  text-align: center;
  font-size: 4rem;
}

#start, #pause {
  position: relative;
  color: #999;
  transition: 200ms;
}

#start:hover, #pause:hover {
  color: black;
}

#start:after {
  position: absolute;
  content: 'Enter';
  font-family: "Share Tech Mono";
  font-size: 1rem;
  left: 0.3rem;
  bottom: -20px;
  opacity: 0;
  transform: translateY(20px);
  transition: 200ms;
}

#pause:after {
  position: absolute;
  content: 'Space';
  font-family: "Share Tech Mono";
  font-size: 1rem;
  left: 0.3rem;
  bottom: -20px;
  opacity: 0;
  transform: translateY(20px);
  transition: 200ms;
}

#start:hover:after {
  opacity: 1;
  transform: translateY(0px);
}

#pause:hover:after {
  opacity: 1;
  transform: translateY(0px);
}

#draggable-wrapper {
  max-width: 600px;
  display: flex;
  margin-top: 3rem;
  margin-left: auto;
  margin-right: auto;
  justify-content: space-around;
}

.time-section {
  position:relative;
  line-height: 2;
  min-width: 4rem;
  padding: 2.6em;
  text-transform: uppercase;
  border-radius: 12px;
}

label {
  font-size: 1.2rem;
}

.draggable {
  transform: translateY(0px);
  transition: 200ms;
}

.draggable:hover {
  transform: translateY(-6px);
  box-shadow: 0 1px 2px 0 rgba(0,0,0,0.2), 0 4px 8px 0 rgba(0,0,0,0.4);
}

.button-wrapper {
  position: relative;
  font-size: 1.5rem;
  display: inline-flex;
  flex-direction: column;
  bottom: 1rem;
}

.delete {
  cursor: default;
  color: white;
  position: absolute;
  top: 0.7rem;
  right: 1rem;
  font-size: 1.5rem;
  font-weight: 100;
  transition: 200ms;
  opacity: 0;
}

.in-time-line:hover .delete {
  opacity: 1;
}

.work-wrapper {
  background-color: #00A779;
}

.break-wrapper {
  background-color: #FFC600;
}

.long-break-wrapper {
  background-color: #DC0055;
}

#time-line {
  position: relative;
  overflow-x: scroll;
  display: flex;
  width: 100vw;
  min-height: 12.4rem;
  height: auto;
  margin-top: 3rem;
  text-align: center;
  background-color: rgba(0,0,0,.3);
  transition: all 200ms linear;
}

#time-line span {
  position: absolute;
  font-size: 1.7rem;
  color: #fff;
  z-index: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: opacity 200ms;
}

.drop_hover {
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.8) inset;
}

input[type="number"] {
  background-color: transparent;
  border: none;
  font-size: 2rem;
  width: 1.2em;
  outline: none;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
    -moz-appearance:textfield;
}

input[type=number]:focus {
    outline: 0;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

::-webkit-scrollbar
{
  width: 12px;  /* for vertical scrollbars */
  height: 16px; /* for horizontal scrollbars */
}

::-webkit-scrollbar-track
{
  background: rgba(255, 255, 255, 0.3);
}

::-webkit-scrollbar-thumb
{
  background: rgba(255, 255, 255, 0.7);
}

.animation {
  position: fixed;
  width: 10vw;
  height: 200vh;
  top: -50vh;
  left: 100%;
  background-color: rgba(0,167,121,0.1);
  z-index: -1;
  animation-duration: 60s;
  animation-timing-function: linear;
}

#animation1.animate {
  animation-name: animation1;
}

#animation2.animate {
  animation-name: animation2;
  transform-origin: top;
}

#animation3.animate {
  animation-name: animation3;
  transform-origin: bottom;
}

#animation4.animate {
  animation-name: animation4;
  transform-origin: top;
}

#animation5.animate {
  animation-name: animation5;
  transform-origin: bottom;
}

#animation6.animate {
  animation-name: animation6;
  transform-origin: top;
}

#animation7.animate {
  animation-name: animation7;
}

#animation8.animate {
  animation-name: animation8;
  transform-origin: bottom;
}

#animation9.animate {
  animation-name: animation9;
  transform-origin: bottom;
}

#animation10.animate {
  animation-name: animation10;
}

@keyframes animation1 {
  0% {
    transform: translateX(0);
  } 50% {
   transform: translateX(calc(-50vw - 50%)) rotate(-10deg);
  } 100% {
    transform: translateX(calc(-101vw - 100%));
  }
}

@keyframes animation2 {
  0% {
    transform: translateX(0) rotate(0);
  } 50% {
    transform: translateX(calc(-50vw - 50%)) rotate(10deg);
  } 100% {
    transform: translateX(calc(-101vw - 100%)) rotate(0);
  }
}

@keyframes animation3 {
  0% {
    transform: translateX(0) rotate(0);
  } 50% {
    transform: translateX(calc(-50vw - 50%)) rotate(-15deg);
  } 100% {
    transform: translateX(calc(-101vw - 100%)) rotate(0);
  }
}

@keyframes animation4 {
  0% {
    transform: translateX(0) rotate(0);
  } 50% {
    transform: translateX(calc(-50vw - 50%)) rotate(30deg);
  } 100% {
    transform: translateX(calc(-101vw - 100%)) rotate(0);
  }
}

@keyframes animation5 {
  0% {
    transform: translateX(0) rotate(0);
  } 50% {
    transform: translateX(calc(-50vw - 50%)) rotate(-20deg);
  } 100% {
    transform: translateX(calc(-101vw - 100%)) rotate(0);
  }
}

@keyframes animation6 {
  0% {
    transform: translateX(0) rotate(0);
  } 50% {
    transform: translateX(calc(-50vw - 50%)) rotate(-35deg);
  } 100% {
    transform: translateX(calc(-101vw - 100%)) rotate(0);
  }
}

@keyframes animation7 {
  0% {
    transform: translateX(0) rotate(0);
  } 50% {
    transform: translateX(calc(-50vw - 50%)) rotate(-40deg);
  } 100% {
    transform: translateX(calc(-101vw - 100%)) rotate(0);
  }
}

@keyframes animation8 {
  0% {
    transform: translateX(0) rotate(0);
  } 50% {
    transform: translateX(calc(-50vw - 50%)) rotate(30deg);
  } 100% {
    transform: translateX(calc(-101vw - 100%)) rotate(0);
  }
}

@keyframes animation9 {
  0% {
    transform: translateX(0) rotate(0);
  } 50% {
    transform: translateX(calc(-50vw - 50%)) rotate(-35deg);
  } 100% {
    transform: translateX(calc(-101vw - 100%)) rotate(0);
  }
}

@keyframes animation10 {
  0% {
    transform: translateX(0) rotate(0);
  } 50% {
    transform: translateX(calc(-50vw - 50%)) rotate(27deg);
  } 100% {
    transform: translateX(calc(-101vw - 100%)) rotate(0);
  }
}

@media (max-width: 1336px){
	html {
		font-size: 12px;
	}
}
